<!-- Simple header with fixed tabs. -->
<div class="mdl-layout
            mdl-js-layout
            mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
  
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title"><%= title %></span>
    </div>
    
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <% for(var i = 0; i < tabs.length; i++) { %>
        <a href="#fixed-tab-<%= i %>" class="mdl-layout__tab <% if (i == 0) { %> is-active <% } %>">
          <%= tabs[i].title %>
        </a>
      <% } %>
    </div>
  </header>

  <!-- Drawer -->
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title"><%= title %></span>
  </div>
  
  <main class="mdl-layout__content">
    <% for(var i = 0; i < tabs.length; i++) { %>
        <section class="mdl-layout__tab-panel <% if (i == 0) { %> is-active <% } %>" id="fixed-tab-<%= i %>">
          <div class="page-content">
            
          </div>
        </section>
    <% } %>
  </main>

</div>