<div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
  <select id="<%= id %>" class="mdl-selectfield__select" required>
    <% selectList().forEach(function(entry, i) { %>
    <option value="<%= i %>"><%= entry %></option>
    <% }); %>
  </select>
  <label for="<%= id %>" class="mdl-selectfield__label"><%= name %></label>
  <span class="mdl-selectfield__error">Please select a <%= name %>!</span>
</div>
<!-- <button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button> -->